._carTotalNew_ {
  display: grid;
  width: 100%;
  height: 180px;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px,
    rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
  font-family: "Quicksand", sans-serif;
  border-radius: 10px;
  .__details_measurer_information_card_title__ {
    align-items: center;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    display: grid;
    color: white;
    font-size: 15px;
    justify-items: center;
    width: 100%;
    height: 37px;
  }
  .__details_measurer_consumption_voltage_variable_value__ {
    display: grid;
    align-items: initial;
    color: #47a23f;
    justify-content: center;
    font-size: 4rem;
    font-family: "Quicksand", sans-serif;
  }

  .background_CFA {
    background-color: #47a23f;
    background-image: linear-gradient(90deg, #808080, #b3b3b3);
  }

  .container_values_songs {
    display: flex;
    width: 100%;

    flex-wrap: wrap;
    flex-direction: row;
    gap: 5px;
    justify-content: space-evenly;

    .container_value_button {
      color: rgb(24, 19, 19);
      cursor: pointer;
      font-weight: bold;
      transition: box-shadow 0.1s;
      transform: translateY(300deg);
      font-size: 22px;
      // background-color: lightskyblue;
      // border-radius: 50%;
      text-align: center;
      justify-self: center;
    }

    .container_value_button_normal {
      color: #808080;
      cursor: pointer;
      font-weight: bold;
    }
  }
}
