@import './style/measurer/measurer';
@import './style/measurer/measurerCard';
@import './style/measurer/cardMeasurers';
@import './style/measurer/measurerDetails';
@import './style/measurer/totalMeasurers';
@import './style/measurer/colors';
@import './style/login/login';
@import './style/measurer/measurerGeneral';
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500&family=Poppins:ital,wght@0,100;0,400;1,100;1,500;1,700&family=Quicksand:wght@300;400;500;600;700&display=swap');

.container {
  display: grid;

  width: 100%;
  height: 100%;
}
